<!DOCTYPE html>
<html>
<head>
  <title>Aggregate Pulsar Catalog</title>
  <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='catalog_style.css') }}>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
  <h1 id="title">Aggregate Pulsar Catalog</h1>
  <div id="filter">
    <input id="search" placeholder="Name" type="text">
    <input id="ATNF" class="source_check" type="checkbox"><span class="source_check_text">ATNF</span>
    <input id="RRATalog" class="source_check" type="checkbox"><span class="source_check_text">RRATalog</span>
    <input id="Parallaxes" class="source_check" type="checkbox"><span class="source_check_text">Parallaxes</span>
    <input id="GCpsr" class="source_check" type="checkbox"><span class="source_check_text">GCpsr</span>
  </div>
  <div id="table"></div>
  <div id="nav">
    <input id="prev" type="button" value="Previous">
    <span id="pageinfo"></span>
    <input id="next" type="button" value="Next">
  </div>
  <div id="versioning">
    <span id="ATNF_v" class="version-box">
      <img src={{ url_for('static', filename='loading.gif') }}>
      <span>Checking version info for ATNF...</span>
    </span>
    <span id="RRATalog_v" class="version-box">
      <img src={{ url_for('static', filename='loading.gif') }}>
      <span>Checking version info for RRATalog...</span>
    </span>
    <span id="Parallaxes_v" class="version-box">
      <img src={{ url_for('static', filename='loading.gif') }}>
      <span>Checking version info for Parallaxes...</span>
    </span>
    <span id="GCpsr_v" class="version-box">
      <img src={{ url_for('static', filename='loading.gif') }}>
      <span>Checking version info for GCpsr...</span>
    </span>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src={{ url_for('static', filename='main.js') }}></script>
</body>
</html>
